$ui-grey-btn-button-default-background-color: dynamic(null);
$ui-grey-btn-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-grey-btn-button-default-border-color: dynamic(null);
$ui-grey-btn-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-grey-btn-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-grey-btn-button-default-inner-border-color: dynamic(null);
$ui-grey-btn-button-default-inner-border-width: dynamic(null);
$ui-grey-btn-button-default-color: dynamic(null);
$ui-grey-btn-button-small-border-width: dynamic($button-small-border-width);
$ui-grey-btn-button-small-border-radius: dynamic($button-small-border-radius);
$ui-grey-btn-button-small-padding: dynamic($button-small-padding);
$ui-grey-btn-button-small-font-family: dynamic(null);
$ui-grey-btn-button-small-font-size: dynamic(null);
$ui-grey-btn-button-small-font-weight: dynamic(null);
$ui-grey-btn-button-small-text-padding: dynamic($button-small-text-padding);
$ui-grey-btn-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-grey-btn-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-grey-btn-button-small-icon-size: dynamic($button-small-icon-size);
$ui-grey-btn-button-small-line-height: dynamic($button-small-line-height);
$ui-grey-btn-button-medium-border-width: dynamic($button-medium-border-width);
$ui-grey-btn-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-grey-btn-button-medium-padding: dynamic($button-medium-padding);
$ui-grey-btn-button-medium-font-family: dynamic(null);
$ui-grey-btn-button-medium-font-size: dynamic(null);
$ui-grey-btn-button-medium-font-weight: dynamic(null);
$ui-grey-btn-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-grey-btn-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-grey-btn-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-grey-btn-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-grey-btn-button-medium-line-height: dynamic($button-medium-line-height);
$ui-grey-btn-button-large-border-width: dynamic($button-large-border-width);
$ui-grey-btn-button-large-border-radius: dynamic($button-large-border-radius);
$ui-grey-btn-button-large-padding: dynamic($button-large-padding);
$ui-grey-btn-button-large-font-family: dynamic(null);
$ui-grey-btn-button-large-font-size: dynamic(null);
$ui-grey-btn-button-large-font-weight: dynamic(null);
$ui-grey-btn-button-large-text-padding: dynamic($button-large-text-padding);
$ui-grey-btn-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-grey-btn-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-grey-btn-button-large-icon-size: dynamic($button-large-icon-size);
$ui-grey-btn-button-large-line-height: dynamic($button-large-line-height);
$ui-grey-btn-button-default-background-color-disabled: dynamic(null);
$ui-grey-btn-button-default-border-color-disabled: dynamic(null);
$ui-grey-btn-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-grey-btn-button-default-inner-border-color-disabled: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-disabled: dynamic(null);
$ui-grey-btn-button-default-background-color-focus: dynamic(null);
$ui-grey-btn-button-default-border-color-focus: dynamic(null);
$ui-grey-btn-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-grey-btn-button-default-inner-border-color-focus: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-focus: dynamic(null);
$ui-grey-btn-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-grey-btn-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-grey-btn-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-grey-btn-button-default-background-color-focus-over: dynamic(null);
$ui-grey-btn-button-default-border-color-focus-over: dynamic(null);
$ui-grey-btn-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-grey-btn-button-default-inner-border-color-focus-over: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-focus-over: dynamic(null);
$ui-grey-btn-button-default-background-color-focus-pressed: dynamic(null);
$ui-grey-btn-button-default-border-color-focus-pressed: dynamic(null);
$ui-grey-btn-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-grey-btn-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-grey-btn-button-default-background-color-over: dynamic(null);
$ui-grey-btn-button-default-border-color-over: dynamic(null);
$ui-grey-btn-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-grey-btn-button-default-inner-border-color-over: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-over: dynamic(null);
$ui-grey-btn-button-default-background-color-pressed: dynamic(null);
$ui-grey-btn-button-default-border-color-pressed: dynamic(null);
$ui-grey-btn-button-default-background-gradient-pressed: dynamic($button-default-background-gradient-pressed);
$ui-grey-btn-button-default-inner-border-color-pressed: dynamic(null);
$ui-grey-btn-button-default-inner-border-width-pressed: dynamic(null);
$ui-blue-btn-button-default-background-color: dynamic(null);
$ui-blue-btn-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-blue-btn-button-default-border-color: dynamic(null);
$ui-blue-btn-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-blue-btn-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-blue-btn-button-default-inner-border-color: dynamic(null);
$ui-blue-btn-button-default-inner-border-width: dynamic(null);
$ui-blue-btn-button-default-color: dynamic(null);
$ui-blue-btn-button-small-border-width: dynamic($button-small-border-width);
$ui-blue-btn-button-small-border-radius: dynamic($button-small-border-radius);
$ui-blue-btn-button-small-padding: dynamic($button-small-padding);
$ui-blue-btn-button-small-font-family: dynamic(null);
$ui-blue-btn-button-small-font-size: dynamic(null);
$ui-blue-btn-button-small-font-weight: dynamic(null);
$ui-blue-btn-button-small-text-padding: dynamic($button-small-text-padding);
$ui-blue-btn-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-blue-btn-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-blue-btn-button-small-icon-size: dynamic($button-small-icon-size);
$ui-blue-btn-button-small-line-height: dynamic($button-small-line-height);
$ui-blue-btn-button-medium-border-width: dynamic($button-medium-border-width);
$ui-blue-btn-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-blue-btn-button-medium-padding: dynamic($button-medium-padding);
$ui-blue-btn-button-medium-font-family: dynamic(null);
$ui-blue-btn-button-medium-font-size: dynamic(null);
$ui-blue-btn-button-medium-font-weight: dynamic(null);
$ui-blue-btn-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-blue-btn-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-blue-btn-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-blue-btn-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-blue-btn-button-medium-line-height: dynamic($button-medium-line-height);
$ui-blue-btn-button-large-border-width: dynamic($button-large-border-width);
$ui-blue-btn-button-large-border-radius: dynamic($button-large-border-radius);
$ui-blue-btn-button-large-padding: dynamic($button-large-padding);
$ui-blue-btn-button-large-font-family: dynamic(null);
$ui-blue-btn-button-large-font-size: dynamic(null);
$ui-blue-btn-button-large-font-weight: dynamic(null);
$ui-blue-btn-button-large-text-padding: dynamic($button-large-text-padding);
$ui-blue-btn-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-blue-btn-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-blue-btn-button-large-icon-size: dynamic($button-large-icon-size);
$ui-blue-btn-button-large-line-height: dynamic($button-large-line-height);
$ui-blue-btn-button-default-background-color-disabled: dynamic(null);
$ui-blue-btn-button-default-border-color-disabled: dynamic(null);
$ui-blue-btn-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-blue-btn-button-default-inner-border-color-disabled: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-disabled: dynamic(null);
$ui-blue-btn-button-default-background-color-focus: dynamic(null);
$ui-blue-btn-button-default-border-color-focus: dynamic(null);
$ui-blue-btn-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-blue-btn-button-default-inner-border-color-focus: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-focus: dynamic(null);
$ui-blue-btn-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-blue-btn-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-blue-btn-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-blue-btn-button-default-background-color-focus-over: dynamic(null);
$ui-blue-btn-button-default-border-color-focus-over: dynamic(null);
$ui-blue-btn-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-blue-btn-button-default-inner-border-color-focus-over: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-focus-over: dynamic(null);
$ui-blue-btn-button-default-background-color-focus-pressed: dynamic(null);
$ui-blue-btn-button-default-border-color-focus-pressed: dynamic(null);
$ui-blue-btn-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-blue-btn-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-blue-btn-button-default-background-color-over: dynamic(null);
$ui-blue-btn-button-default-border-color-over: dynamic(null);
$ui-blue-btn-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-blue-btn-button-default-inner-border-color-over: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-over: dynamic(null);
$ui-blue-btn-button-default-background-color-pressed: dynamic(null);
$ui-blue-btn-button-default-border-color-pressed: dynamic(null);
$ui-blue-btn-button-default-background-gradient-pressed: dynamic($button-default-background-gradient-pressed);
$ui-blue-btn-button-default-inner-border-color-pressed: dynamic(null);
$ui-blue-btn-button-default-inner-border-width-pressed: dynamic(null);
$ui-planner-form-field-background-color: dynamic($form-text-field-background-color);
$ui-planner-form-field-border-color: dynamic($form-text-field-border-color);
$ui-planner-form-field-border-width: dynamic($form-text-field-border-width);
$ui-planner-form-field-border-style: dynamic($form-text-field-border-style);
$ui-planner-form-field-focus-border-color: dynamic($form-text-field-focus-border-color);
$ui-planner-form-text-field-border-radius: dynamic($form-text-field-border-radius);
$ui-planner-form-field-color: dynamic($form-text-field-color);
$ui-planner-form-field-font-family: dynamic($form-text-field-font-family);
$ui-planner-form-field-font-size: dynamic($form-text-field-font-size);
$ui-planner-form-field-font-weight: dynamic($form-text-field-font-weight);
$ui-planner-form-field-padding: dynamic($form-text-field-padding);
$ui-planner-form-field-height: dynamic($form-text-field-height);
$ui-planner-form-field-empty-color: dynamic($form-text-field-empty-color);
$ui-planner-form-label-font-color: dynamic($form-label-font-color);
$ui-planner-form-label-font-family: dynamic($form-label-font-family);
$ui-planner-form-label-font-size: dynamic($form-label-font-size);
$ui-planner-form-label-font-weight: dynamic($form-label-font-weight);
$ui-planner-form-label-line-height: dynamic($form-label-line-height);
$ui-planner-form-label-horizontal-spacing: dynamic($form-label-horizontal-spacing);
$ui-planner-form-label-vertical-spacing: dynamic($form-label-vertical-spacing);
$ui-planner-form-error-icon-width: dynamic($form-error-icon-width);
$ui-planner-form-error-icon-height: dynamic($form-error-icon-height);
$ui-planner-form-error-msg-color: dynamic($form-error-msg-color);
$ui-planner-form-error-msg-font-family: dynamic($form-error-msg-font-family);
$ui-planner-form-error-msg-font-size: dynamic($form-error-msg-font-size);
$ui-planner-form-error-msg-font-weight: dynamic($form-error-msg-font-weight);
$ui-planner-form-error-msg-line-height: dynamic($form-error-msg-line-height);
$ui-planner-form-error-under-icon-spacing: dynamic($form-error-under-icon-spacing);
$ui-planner-form-error-under-padding: dynamic($form-error-under-padding);
$ui-planner-form-field-invalid-background-color: dynamic($form-field-invalid-background-color);
$ui-planner-form-field-invalid-border-color: dynamic($form-text-field-invalid-border-color);
$ui-planner-form-trigger-background-color: dynamic($form-trigger-background-color);
$ui-planner-form-trigger-border-color: dynamic($form-trigger-border-color);
$ui-planner-form-trigger-border-width: dynamic($form-trigger-border-width);
$ui-planner-form-trigger-border-style: dynamic($form-trigger-border-style);
$ui-planner-form-trigger-border-color-focus: dynamic(null);
$ui-planner-form-trigger-border-color-over: dynamic(null);
$ui-planner-form-trigger-border-color-pressed: dynamic(null);
$ui-planner-form-trigger-glyph-color: dynamic($form-trigger-glyph-color);
$ui-planner-form-trigger-width: dynamic($form-trigger-width);