$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

// $base-color:#0397d6;
// $base-color:rgb(68, 191, 255);
$base-color:#0288d1;
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: normal;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;

// $button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #efefef;



//Form and Toolbar Button UI colors

$color-blue: #0397d6;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$progress-bar-background-color: #458fd2;

//Form and Toolbar Button UI colors

$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;


$legend-service-tasked: #ffc000;
$legend-service-performing: #6aa5db;
$legend-service-done: #ee929c;

$legend-photorep-tasked: #6aa5db;
$legend-photorep-done: #aed581;

$force-background-color: #56B750;

//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;
